{% extends 'base.html.twig' %}

{% block body %}
    <div class="error">
        <h1>Cette page n'existe pas</h1>
        <p><a href="{{ path('trick') }}">Retour à l'acceuil</a></p>
    </div>
{% endblock %}

{% block title %}
    Erreur
{% endblock %}