{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié {% endblock %}

{% block body %}

    <h1 style="text-align: center">Mot passe oublié</h1>
    {{ form(resetForm) }}

{% endblock %}



