{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe {% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center">Entrez votre nouveau mot de passe</h1>
        {{ form(resetForm) }}
        {{ form_errors(resetForm) }}
    </div>
{% endblock %}