{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('loadbutton') }}

{% endblock %}

{% block body %}

    <!-- Display full Home image -->
    <div class="containerBox">
        <img class="home" src="{{ asset('build/images/home/home.jpg') }}" alt="home" id="home">
        <p class="centered">SnowTricks</p>

        <div class="row" id="buttonDown">
            <a href="#font"><i id="arrow-down" class="fas fa-arrow-down fa-3x float-right"></i></a>
        </div>
    </div>


    <div class="container">

        <div class="container mt-5">
            <h1>Bienvenue sur le site communautaire SnowTricks !</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto commodi cupiditate esse est facere
                fugiat
                illo
                incidunt inventore libero modi molestias mollitia neque nisi numquam placeat quas qui quibusdam quod
                ratione
                reiciendis repellat reprehenderit, saepe totam unde voluptate voluptatibus!</p>
            </p>
        </div>

        <div class="jumbotron" id="font">
            <h1 id="banner" style="text-align: center;">Découvrez nos Tricks</h1>
        </div>
        <div class="container cards" id="trickList">

            <!-- Display Tricks -->
            {% for trick in tricks %}
                {% include 'trick/_trick.html.twig' %}
            {% endfor %}

        </div>

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <button id="loadMore" class="btn btn-primary">Voir plus de tricks</button>
            </div>
        </div>
        <div class="row" id="buttonUp">
            <a href="#trickList"><i id="arrow-up" class="fas fa-arrow-up fa-3x float-right"></i></a>
        </div>
    </div>

{% endblock %}


