{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('loadbutton') }}

{% endblock %}

{% block body %}

    <!-- Display full Home image -->
    <div class="containerBox">
        {#<img class="image-home" src="{{ asset('/uploads/home/home.jpg') }}" alt="home" id="home">#}
        <p class="centered">SnowTricks</p>

        <div class="row" id="buttonDown">
            <a href="#font"><i id="arrow-down" class="fas fa-arrow-down fa-3x float-right" style="color: white"></i></a>
        </div>
    </div>


    <div class="container">

        <div class="container mt-5" style="text-align: center">
            <h1>Bienvenue sur le site communautaire SnowTricks !</h1>
        </div>

        <div class="jumbotron" id="font">
            <h1 id="banner" style="text-align: center;">Découvrez nos Tricks</h1>
        </div>
        <div class="container cards" id="trickList">

            <!-- Display Tricks -->
            {% for trick in tricks %}
                {% include 'trick/_trick.html.twig' %}
            {% endfor %}

        </div>

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <button id="loadMore" class="btn btn-primary">Voir plus de tricks</button>
            </div>
        </div>
        <div class="row" id="showLess">
            <a href="#trickList"><i id="arrow-up" class="fas fa-arrow-up fa-3x float-right"
                                    style="color: black"></i></a>
        </div>
    </div>

{% endblock %}


