<div class="container mt-5 mb-20 text-center">

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"><a href="{{ path('trick') }}">Retour</a></button>
        <button type="button" class="btn btn-secondary"><a href="{{ path('user_index') }}">Utilisateurs</a</button>
        <button type="button" class="btn btn-secondary"><a href="{{ path('category_index') }}">Categories</a></button>
        
    </div>
</div>