#buttonDown {
    position: absolute;
    bottom: 0px;
    right: 30px;
}
#buttonUp {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 30px;
}

.btn.btn-flat {
    font-weight: 500;
    color: inherit;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img-download {
    display: block;
    position: relative;
    z-index: 1;
}

.img-download .test {
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.float {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 3px 6px;
    border: medium none;
    cursor: pointer;
    float: right;
    padding-left: 1em;
}

.main {
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid #D9D9D9;
    height: 400px;
    overflow: hidden;
}

.home {
    width: 100%;
    /*background-size: cover;
    background-position: center;
    border: 1px solid #D9D9D9;*/
    height: 100%;
}

@media (min-width: 576px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: auto;
        grid-gap: 1rem;
    }
}


@media (min-width: 992px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-auto-rows: auto;
        grid-gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-auto-rows: auto;
        grid-gap: 1rem;
    }
}

.card {
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-body {
    padding: 0.5rem !important;
}









