<div class="carousel">
    {% set count = 1 %}

    <div class="slider-outer">
        <img class="prevVid" src="{{ asset('build/images/home/arrow-left.png') }}" alt="prev">

        <div class="slider-inner">
            {% for video in trick.videos %}
                <iframe width="30%" height="100%" src="{{ video.videoUrl }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen> {% if count == 1 %} class="active" {% endif %}</iframe>

                {% set count = count + 1 %}
            {% endfor %}
        </div>

        <img class="nextVid" src="{{ asset('build/images/home/arrow-right.png') }}" alt="next">
    </div>

</div>