<div class="wrapper">

    <nav class="lil-nav">
        {% set count = 0 %}
        {% for image in trick.images %}

            <a href="#image-{{ count }}">
                <img class="lil-nav__img img" src={{ UploadDirectory ~ image.imageFilename }} alt="">
            </a>
            {% set count = count + 1 %}
        {% endfor %}
    </nav>

    <div class="gallery">
        {% set count = 0 %}
        {% for image in trick.images %}
            <img class="gallery__img img" src={{ UploadDirectory ~ image.imageFilename }} id="image-{{ count }}" alt="">
            {% set count = count + 1 %}
        {% endfor %}
    </div>

</div>