
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="{{ UploadPicture ~ comment.user.photo }}" alt="" width="100%">
            </div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{ comment.user.username }}</strong>
                    <span class="text-muted">commenté le 5 days ago{{ comment.createdAt | date('d/m/Y') }}</span>
                </div>
                <div class="panel-body">
                    {{ comment.content | raw }}
                </div>
            </div>
        </div>
    </div>



