<div class="row">

    <div class="col-sm-10">
        {{ form_start(formComment) }}
        {{ form_end(formComment) }}
    </div>
    <div class="col-sm-2">
        <button class="submit btn btn-primary">Valider</button>
    </div>
</div>






