{% extends'base.html.twig' %}

{% block body %}

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/04/2020 à 20h00 dans la categorie politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate ipsam iste
                perferendis sapiente temporibus.</p>
            <p>Delectus dicta iure iusto natus provident quam sequi tempore tenetur veritatis! Adipisci aperiam
                blanditiis pariatur?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eaque enim id ipsam mollitia, nisi
                numquam odio quibusdam quidem sit sunt temporibus! Aperiam cum doloribus ducimus eligendi illo illum
                nulla porro quas, recusandae saepe. Animi, dignissimos doloremque eveniet itaque labore minus molestiae
                porro quisquam, quos repudiandae soluta tempora voluptates voluptatum.</p>
            <p>Ea enim, harum? Accusantium consequatur deserunt eaque eius facere facilis fugiat fugit illo in libero
                molestiae nemo non quia recusandae rem repellendus sequi suscipit tenetur, velit voluptate. Delectus ex
                harum iusto minus molestiae necessitatibus optio, quaerat quam quia sit. Consequuntur cumque harum
                molestias nam quas quasi repellendus unde voluptatibus. Commodi.</p>

    </article>


{% endblock %}