<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur SnowTricks, veuillez cliquer sur le lien si-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('security_activate',{'token': token } )) }}">Activer mon compte</a></p>
