<h1>Réinitialisation de votre mot de passe</h1>
<p>Vous avez fait une demande de réinitialisation de votre mot de passe, cliquer que le lien </p>
<p><a href="{{ url }}">Réinitialiser votre mot de passe</a></p>
